<div id="search" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-magnifier"></i></a>
  <div class="dropdown-menu">
    <button type="button" class="btn btn-default hidden"><i class="lnr lnr-magnifier"></i></button>
    <input type="text" name="search" value="" placeholder="{{ text_search }}" class="form-control input-lg" />
  </div>
  <a class="dropdown-toggle" data-toggle="dropdown">{{ text_search }}</a>
</div>