<div class="bt-blog-tag-cloud box style-2">
  <div class="box-heading block-title">
    <h2>{{ heading_title }}</h2>
  </div>
  <div class="box-content">
    {% if (blogtagcloud) %} 
    {{ blogtagcloud }} 
    {% else %} 
    {{ text_notags }} 
    {% endif %} 
  </div>
</div>
